<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    function signUp(){
        var userId = $("#userid").val()
        var password = $("#password").val()
        var userName = $("#userName").val()
        var userAge = $("#userAge").val()
        var userSex = document.getElementsByTagName('input');
        var value;
        for (var i = 0; i < userSex.length; i++) {
            if (userSex[i].type === 'radio' && userSex[i].checked) {
                // get value, set checked flag or do whatever you need to
                value = userSex[i].value;
            }
        }
        var userNum = $("#userNum").val()
        var userEmail = $("#userEmail").val()
        var ajax = $.ajax({
            url: "/users",
            data: (
                {"userId" : userId , "password" : password , "userName" : userName,
                "userAge" : userAge , "userSex" : value, "userNum" : userNum,
                "userEmail" : userEmail}
            ),
            type: 'POST',
            dataType : 'JSON',
            success: function(response) {
                    // alert("완료");
                    // location.replace('/');
                if(response.isSuccess == true) {
                    // location.replace('/surveyPage'); //contents_survey 페이지로 이동하기
                    signIn(userId,password)
                }
                else {
                    // alert("실패");
                    // location.replace('/');
                }
            }
        });
        alert("회원가입완료");
    }
    function main(){
        location.replace('/');
    }
    function getGender(event) {
        document.getElementById('result').innerText =
            event.target.value;
    }
    function signIn(userId,password)
    {
        var ajax = $.ajax({
            url: "/login",
            data: (
                {"userId" : userId , "password" : password}
            ),
            type: 'POST',
            dataType : 'JSON',
            success: function(response) {
                if(response.isSuccess == true) {
                    location.replace('/surveyPage');

                }
                else {
                    alert("실패");
                    // location.replace('/');
                }
            }
        });

    }
</script>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
    *
    {
        margin:0;
        padding:0;
        box-sizing: border-box;
        /*width: 100%;*/
        /*height: 100%;*/
        list-style: none;
        text-decoration: none;
        border-collapse: collapse;
    }
    .header
    {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        position: absolute;
        /*width: 1840px;*/
        height: 35px;
        line-height: 35px;
        top:20px;
        left: 40px;
        right: 40px;
        /*margin: 40px 40px 0px 40px;*/
        /*background-color: red;*/
        /*z-index:2;*/

    }
    .nav-left
    {
        display:flex;
        position: relative;
    }
    .Menu {
        width: 50px;
        height: 26px;
        margin-left: 6px;
        font-family: 'Roboto Light';
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
        cursor: pointer;
    }
    .menu_icon
    {
        width: 33px;
        height: 20px;
        cursor: pointer;
        /* border: solid 4px #fff; */
    }
    .EveryDay
    {
        /*position: absolute;*/
        /*top: 40px;*/
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        position: absolute;
        top: 40px;
    }
    .EveryDay a{

        /* cursor: pointer; */
        /*width: 264px;*/
        /*height: 79px;*/
        /*margin-top:40px;*/
        /*margin-left:828px;*/
        /* margin: 40px 640px 828px 693px; */
        font-family: 'Fugaz One', cursive;
        /*font-family: 'Noto Sans KR', sans-serif;*/
        font-size: 60px;
        /*font-weight: bold;*/
        font-stretch: normal;
        font-style: normal;
        line-height: 1.32;
        letter-spacing: normal;
        text-align: center;
        text-decoration: none;
        color: #fff;
        /*z-index:1;*/
    }
    body
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: url("/intro");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .signup-form
    {
        position: relative;
        font-family: 'Noto Sans KR', sans-serif;
    }
    .mainpage
    {
        cursor: pointer;
        color: #fff;
        text-align: right;
    }
    .int-area
    {
        width: 400px;
        position: relative;
        margin-top: 10px;
    }

    .int-area:first-child
    {
        margin-top:0;
    }
    .int-area input
    {
        width: 100%;
        padding: 20px 10px 10px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #999;
        font-size: 15px; color:#fff;
        outline: none;
    }

    .int-area label
    {
        position: absolute; left: 10px; top: 15px;
        font-size: 15px; color: #999;
        transition: all .5s ease;
    }
    /*.int-area2*/
    /*{*/
    /*    width: 400px;*/
    /*    position: relative;*/
    /*    margin-top: 10px;*/
    /*}*/
    .int-area2
    {
        width: 100%;
        position: relative;
        margin-top: 10px;
        padding: 20px 10px 10px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #999;
        font-size: 15px; color:#fff;
        outline: none;
    }
    .int-area2 #label_SEX
    {
        position: absolute; left: 10px; top: 15px;
        font-size: 15px; color: #999;
        transition: all .5s ease;
    }

    .int-area label.warning
    {
        color: red !important;
        animation: warning .3s ease;
        animation-iteration-count: 3;
    }
    .int-area input:focus+label,
    .int-area input:valid+label {
        top:0;
        font-size: 13px;
        color: #166cea;
    }

    .int-area2 input:focus+#label_SEX,
    .int-area2 input:valid+#label_SEX {
        top:0;
        font-size: 13px;
        color: #166cea;
    }

    .btn-area{margin-top: 30px;}
    .btn
    {
        cursor: pointer;
        width: 100%;
        height: 60px;
        background: transparent;
        border: 2px solid #166cea;
        color: #166cea;
        font-size: 17px;
        font-weight: bold;
        border-radius: 30px;
        position: relative;
        transition:all 1s;
        overflow: hidden;
    }

    .btn::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #166cea;
        top:100%;
        left:0;
        transition: all 0.4s;
        z-index: -1;
    }

    .btn:hover::before{
        transform: translateY(-100%);
    }

    .btn:hover{
        color:#fff;
    }
</style>

<body>
    <div class="EveryDay"><a href="/">Every Day</a></div>
    <nav class="header">
        <ul class="nav-left">
            <li><a href=""><img class="menu_icon" src="/menuicon"></a></li>
            <li><a href=""><span class="Menu">Menu</span></a></li>

            <!-- <button onclick="location.href='/loginPage'">로그인</button> -->
        </ul>
    </nav>
    <section class="signup-form">
        <form action="">
            <div class="mainpage" onclick="location.replace('/');">메인페이지</div>
            <div class="int-area">
                <input type="text" id="userid" name="userid" autocomplete="off" required>
                <label for="userid">ID</label></br>
            </div>
            <div class="int-area">
                <input type="password" id="password" name="password" autocomplete="off" required>
                <label for="password">PASSWORD</label></br>
            </div>
            <div class="int-area">
                <input type="text" id="userName" name="userName" autocomplete="off" required>
                <label for="userName">NAME</label></br>
            </div>
            <div class="int-area">
                <input type="text" id="userAge" name="userAge" autocomplete="off" required>
                <label for="userAge">AGE</label></br>
            </div>
            <div class="int-area2">

                <label id="click_male_label" for="click_male">Male</label>
                <input type="radio" id="click_male" name="userSex" value="Male"
                       autocomplete="off" required checked>

                <label id="click_female_label" for="click_female">Female</label>
                <input type="radio" id="click_female" name="userSex" value="Female"
                       autocomplete="off" required>
<!--                <div id="result"></div>-->
                <label id="label_SEX">SEX</label></br>

            </div>
            <div class="int-area">
                <input type="text" id="userNum" name="userNum" autocomplete="off" required>
                <label for="userNum">TELEPHONE</label></br>
            </div>
            <div class="int-area">
                <input type="text" id="userEmail" name="userEmail" autocomplete="off" required>
                <label for="userEmail">EMAIL</label></br>
            </div>

            <div class="btn-area">
                <button class="btn" type="submit" id="btn" onclick="signUp()" >SIGN UP</button>
            </div>
        </form>
    </section>

</body>
